---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---


<nav>
	<h1>
		RBNHL
	</h1>
</nav>

<style>
	nav {
	}

	h1 {
		font-size: xx-large;
		color: #FF9843;
		font-family: 'Times New Roman', Times, serif;
	}
</style>