<div>
    <ul>
        <li>Daftar Menu</li>
        <li>Karyawan</li>
        <li>Meja</li>
    </ul>
</div>

<style>
    ul {
        list-style-type: none;
    }
    li {
        padding-bottom: 10px;
    }

    div {
    }
</style>